
<div novalidate class="md-layout m-5 text-center" style="padding: 25px; border: 5px solid slategray;">
  <h1>New Workout</h1>
  <br><br>
  <div class="form-group">
    <%= render partial: 'form' %>
  </div>
</div>