// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workouts .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 6px;
    border: 1px solid #454D55;
  }

  th {
    background: #343A40;
    color: whitesmoke;
    text-align: center;
    width: 10%;
  }

  td {
    background: #3E444A;
    color: whitesmoke;
    height: 100px;
    vertical-align: top;
    font-size: 18px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: slategray; }
}

#workouts #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 50px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
  }
}

#workouts ul {
  font-size: 14px;
  padding-left: 20px;
  color: white;
}

#workouts li {
  font-size: 18
  px;
  padding-left: 20px;
  color: white;
}

.workout_form_date {
  font-size: 18pt;
}